@media screen and (max-width: 320px) {
  .header {
    display: block;
  }

  #cart-img {
    display: block;
    width: 2rem;
    position: fixed;
    right: 5px;
    top: 55px;
  }

  .logo {
    width: 100%;
    margin-left: 10px;
  }

  #search-input {
    width: 50%;
    margin: 0 10px;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  #search-btn {
    width: 30%;
    border-radius: 5px;
    padding: 1px;
    background-color: wheat;
    font-weight: bold;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  .container-cartTitle {
    display: none;
  }

  .container {
    justify-content: center;
  }

  /*Products*/

  .products {
    width: 95%;
    margin-top: 0;
  }

  .product {
    width: 45%;
    padding: 0;
  }

  .product .img__container {
    width: 85%;
  }

  .cart {
    display: none;
  }

  .cart-mobile {
     display: flex;
     position: fixed;
     top: 6rem;
     right: 0;
     width: 80%;
     flex-direction: column;
     height: 80%;
     border-radius: 7px;
     border: 1px solid rgb(141, 139, 139);
     background-color: #fff;
  }

  .cart__products {
    padding: 0;
    height: 55%;
  }

  .product__title {
    font-size: 15px;
  }

  .product__price .product__price__value {
    font-size: 18px;
  }

  .cep-input {
    margin: 2px auto 5px;
  }

  .cep-button {
    margin: 0 2px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 1px;
  }

  .price span .total-price {
    font-size: 20px;
  }

  .cart__address {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    display: block;
  }

  #cart-img {
    display: block;
    width: 2rem;
    position: fixed;
    right: 5px;
    top: 55px;
  }

  .logo {
    width: 100%;
    margin-left: 10px;
  }

  #search-input {
    width: 50%;
    margin: 0 10px;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  #search-btn {
    width: 30%;
    border-radius: 5px;
    padding: 1px;
    background-color: wheat;
    font-weight: bold;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  .container-cartTitle {
    display: none;
  }

  .container {
    justify-content: center;
  }

  /*Products*/

  .products {
    width: 95%;
    margin-top: 0;
  }

  .product {
    width: 45%;
    padding: 0;
  }

  .product .img__container {
    width: 85%;
  }

  .cart {
    display: none;
  }

  .cart-mobile {
     display: flex;
     position: fixed;
     top: 6rem;
     right: 0;
     width: 80%;
     flex-direction: column;
     height: 80%;
     border-radius: 7px;
     border: 1px solid rgb(141, 139, 139);
     background-color: #fff;
  }

  .cart__products {
    padding: 0;
    height: 55%;
  }

  .product__title {
    font-size: 15px;
  }

  .product__price .product__price__value {
    font-size: 18px;
  }

  .cep-input {
    margin: 2px auto 5px;
  }

  .cep-button {
    margin: 0 2px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 1px;
  }

  .price span .total-price {
    font-size: 20px;
  }

  .cart__address {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 414px) {
  .header {
    display: block;
  }

  #cart-img {
    display: block;
    width: 2rem;
    position: fixed;
    right: 5px;
    top: 55px;
  }

  .logo {
    width: 100%;
    margin-left: 10px;
  }

  #search-input {
    width: 50%;
    margin: 0 10px;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  #search-btn {
    width: 30%;
    border-radius: 5px;
    padding: 1px;
    background-color: wheat;
    font-weight: bold;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  .container-cartTitle {
    display: none;
  }

  .container {
    justify-content: center;
  }

  /*Products*/

  .products {
    width: 95%;
    margin-top: 0;
  }

  .product {
    width: 45%;
    padding: 0;
  }

  .product .img__container {
    width: 85%;
  }

  .cart {
    display: none;
  }

  .cart-mobile {
     display: flex;
     position: fixed;
     top: 6rem;
     right: 0;
     width: 80%;
     flex-direction: column;
     height: 80%;
     border-radius: 7px;
     border: 1px solid rgb(141, 139, 139);
     background-color: #fff;
  }

  .cart__products {
    padding: 0;
    height: 55%;
  }

  .product__title {
    font-size: 15px;
  }

  .product__price .product__price__value {
    font-size: 18px;
  }

  .cep-input {
    margin: 2px auto 5px;
  }

  .cep-button {
    margin: 0 2px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 1px;
  }

  .price span .total-price {
    font-size: 20px;
  }

  .cart__address {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: block;
  }

  #cart-img {
    display: block;
    width: 2rem;
    position: fixed;
    right: 5px;
    top: 55px;
  }

  .logo {
    width: 100%;
    margin-left: 10px;
  }

  #search-input {
    width: 50%;
    margin: 0 10px;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  #search-btn {
    width: 30%;
    border-radius: 5px;
    padding: 1px;
    background-color: wheat;
    font-weight: bold;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  .container-cartTitle {
    display: none;
  }

  .container {
    justify-content: center;
  }

  /*Products*/

  .products {
    width: 95%;
    margin-top: 0;
  }

  .product {
    width: 45%;
    padding: 0;
  }

  .product .img__container {
    width: 85%;
  }

  .cart {
    display: none;
  }

  .cart-mobile {
     display: flex;
     position: fixed;
     top: 6rem;
     right: 0;
     width: 80%;
     flex-direction: column;
     height: 80%;
     border-radius: 7px;
     border: 1px solid rgb(141, 139, 139);
     background-color: #fff;
  }

  .cart__products {
    padding: 0;
    height: 55%;
  }

  .product__title {
    font-size: 15px;
  }

  .product__price .product__price__value {
    font-size: 18px;
  }

  .cep-input {
    margin: 2px auto 5px;
  }

  .cep-button {
    margin: 0 2px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 1px;
  }

  .price span .total-price {
    font-size: 20px;
  }

  .cart__address {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
  }

  #cart-img {
    display: block;
    width: 2rem;
    position: fixed;
    right: 5px;
    top: 55px;
  }

  .logo {
    width: 100%;
    margin-left: 10px;
  }

  #search-input {
    width: 50%;
    margin: 0 10px;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  #search-btn {
    width: 30%;
    border-radius: 5px;
    padding: 1px;
    background-color: wheat;
    font-weight: bold;
    box-shadow: 2px 2px 5px #1d1d1d;
  }

  .container-cartTitle {
    display: none;
  }

  .container {
    justify-content: center;
  }

  /*Products*/

  .products {
    width: 95%;
    margin-top: 0;
  }

  .product {
    width: 45%;
    padding: 0;
  }

  .product .img__container {
    width: 85%;
  }

  .cart {
    display: none;
  }

  .cart-mobile {
     display: flex;
     position: fixed;
     top: 6rem;
     right: 0;
     width: 80%;
     flex-direction: column;
     height: 80%;
     border-radius: 7px;
     border: 1px solid rgb(141, 139, 139);
     background-color: #fff;
  }

  .cart__products {
    padding: 0;
    height: 55%;
  }

  .product__title {
    font-size: 15px;
  }

  .product__price .product__price__value {
    font-size: 18px;
  }

  .cep-input {
    margin: 2px auto 5px;
  }

  .cep-button {
    margin: 0 2px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 1px;
  }

  .price span .total-price {
    font-size: 20px;
  }

  .cart__address {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0px;
  }
}